################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/JenkinsTest/.vs/JenkinsTest/v15
/JenkinsTest/JenkinsTest/obj/Debug/netcoreapp2.2
/JenkinsTest/JenkinsTest/bin/Debug/netcoreapp2.2
/JenkinsTest/JenkinsTest/obj
